<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Acerca de nosotros</title>
	{% include "head_imports.html" %}
</head>
<body>
	{% include "navbar.html" %}
	<header>
		<h2 class="text-center"><strong>{{ titulo_about }}</strong></h2><hr/>
	</header>
   <div class='container'>
		<div class='d-sm-block'>
			<p class="lead text-center">Es una historia muy larga! Tienes tiempo? Te quedas un ratico para que te lo contemos?</p>
			<p class="text-center">Blah blah blah blah blah blah blah</p>
			<p class="text-center">Blah blah blah blah blah blah blah</p>
			<p class="text-center">Blah blah blah blah blah blah blah</p>
			<p class="text-center">Blah blah blah blah blah blah blah</p>
			<p class="text-center">Blah blah blah blah blah blah blah</p>
			<p class="text-center">Blah blah blah blah blah blah blah</p>
			<p class="text-center">Blah blah blah blah blah blah blah</p>
		</div>
	</div> 
	{% include "footer_imports.html" %}
</body>
</html>
